body{
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
}

img{
    width: 300px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article, section{
    width: 70%;
}

aside{
    float: right;
    width: 30%;
    margin-top: -20px;
}

aside li a{
    color: blue;
}