body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 160px;
}

section {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    gap: 30px;
}

.container {
    height: 75%;
    width: 25%;
    background-color: white;
    padding: 30px;
    position: relative;
}

.primary{
    height: 80%;
}

h1{
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
}

span{
    font-size: 50px;
    font-weight: 700;
}

li{
    margin-bottom: 5px;
}

.subtitle{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

button{
    margin-top: 40px;
    color: white;
    background-color: black;
    border-radius: 6px;
    width: 120px;
    height: 45px;
    position: absolute;
    bottom: 20px;
}

i{
    margin-right: 5px;
}