* {
  box-sizing: border-box;
}

body {
  width: 97vw;
  height: 97vh;

  background-color: rgb(238, 238, 238);
  display: flex;
  margin: 10px;
  border: 2px gray solid;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  gap: 15px;
}

img {
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small {
  width: 10vw;
}

.large {
  width: 40vw;
}
