@media (max-width:600px) {

    .left-to-right:first-child{
        height: 530px;
    }
    main .left-to-right article {
        width: 384px;
        height: 409px;
        border-radius: 20%;
        padding: 23px 36px 18px 34px;
        margin-left: -25px;
    }

    .left-to-right button, button{
        display: none;
    }

    main .left-to-right article header{
        margin-top: -67px;
    }

    main section:nth-child(2){
        flex-direction: column;
    }

    header h1{
        font-size: 2.4rem;
    }

    main section:nth-child(4){
        flex-direction: column;
    }

    main section:nth-child(4) article {
        margin-left: 20%;
    }

    form input[type="submit"]{
        margin: 30px 129px;
    }
   
    
}