@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}

.viewport {
    height: 50vh;
    width: 100vw;
    position: relative;
}

.river {
  background: linear-gradient(to right, #1a619d 0%, #3fc5a1 100%);
}

.mountain {
  background: linear-gradient(to right, #a93574 0%, #d18016 100%);
}

card {
    height: 350px;
    display: block;
    position: relative;
}

img {
    width: 200px;
}

/* центрираме контейнер */
.wraper{
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star1{
    position: absolute;
    bottom: 9%;
    right: 4%;
    color: white;
}

.star2{
    position: absolute;
    bottom: 5%;
    right: 4%;
    color: white;
}



