body,
ul, li {
    display: flex;
    background-color: #EEE;
    flex-wrap: wrap;
    gap: 30px;
}

body{
    margin: 10px;
    border: 3px gray solid;
}

.gallery {
    margin: 90px;
}

ul {
    justify-content: space-between;
}

li {
    width: 280px;
    height: 570px;
    flex-grow: 1;
    background-color: white;
    border: 7px black solid;
    align-content: center;
    justify-content: center;
}




