@font-face {
    font-family: "Sentinel";
    src: url("fonts/FontsFree-Net-Sentinel-Medium.ttf");
}

@font-face {
    font-family: "Graphik Semibold Web";
    src: url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot");
    src: url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.woff") format("woff"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/02fb003368979ba04752e4f3b4c4cebd.svg#Graphik Web Semibold") format("svg");
}

@font-face {
    font-family: "Graphik Web Regular";
    src: url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot");
    src: url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.woff") format("woff"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/105007d99d9df64c50cc24d696d79555.svg#Graphik Web Regular") format("svg");
}

@font-face {
    font-family: "Open sans";
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url(https://fonts.cdnfonts.com/css/helvetica-neue-55);
}

body {
    text-align: center;
}

h1 {
    font-family: "Sentinel", Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
}

span {
    font-family: "Graphik Semibold Web", "Open sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

p {
    font-family: "Graphik Web Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}