* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    width: 97vw;
    border: 3px rgb(11, 10, 10) solid;
    border-radius: 2px;
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 83px;
}

.card {
    width: 18vw;
    background-color: rgb(253, 255, 255);
    border: 2px lightslategray solid;
    border-radius: 5px;
    position: relative;
}

img {
    width: 100%;
    border-bottom: 2px lightslategray solid;
}

section {
    margin-left: 15px;
    margin-right: 15px;
}

h3 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;

}

footer {
    border-top: 2px lightslategray solid;
    padding: 15px;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 83px;
}

.card-flex footer {
    margin-bottom: auto;
}